<!DOCTYPE html>
<html>
	<head>
		<title>About Me!</title>
	</head>
		<h1 align="center">About Me!</h1>
		<p style="background-color: lightgray; padding: 10px;">
		Hello, viewers! Let me tell you who I am before moving ahead! I am a quirky, kind and ambivert woman who loves to read and write a lot! I am that type of person who imagines a whole lot of scenarios in her mind, likes to brag about herself(positively).
		</p>
		<center><%= link_to 'Home', root_path %></center>
		<br>
		<center><%= image_tag("blog.jpeg", height: '200', width: '500') %></center>
		<hr>
		<h3 align="center">You might need the following list of items while reading my blog articles!!!</h3>
		<ul>
			<li>Hot chocolate or coffee</li>
			<li>A nice and cozy blanket</li>
			<li>A comfortable place to sit or relax</li>
		</ul>
	</body>
</html>