<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#">Rails Practice</a> by <a href="#">Riddhi Thummar</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to 'About', about_path %></li>
			</ul>
		</nav>
	</footer>
</div>